@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes buttonHover {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.btn {
  display: inline-block;
  padding: 9px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #4a77d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #3762bc;
  animation: buttonHover 0.3s;
}

.btn-medium {
  padding: 15px 30px;  
  font-size: 18px;    
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(135deg, #670d10 0%, #092756 100%), url('../images/image_credit.jpg') no-repeat center center fixed;
	background-size: cover;
	animation: fadeIn 1s ease-in-out;
  }
  
.login {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button {
  width: auto;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
